#dashboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    height: fill;
    min-height: 100vh;
}
#dashNavBar{
    position: sticky;
}