#dashHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-bottom: 2vh;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.navbarButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    overflow: hidden;
}

.navbarButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

img{
    max-width: 30px;
    max-height: 30px;
}

#profileIcon{
    max-width: 60px !important;
    max-height: 60px !important;
}

#homeIcon{
    min-width: 40px !important;
    min-height: 40px !important;
}
