#notificationsContainer{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notificationIcon {
    width: 40px;
    height: 40px;
}

#notificationNumber{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 7px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: small;
}

#viewNotifications {
    position: fixed; /* Keep it above all content */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it */
    background: rgba(255, 255, 255, 0.95); /* Light background with slight transparency */
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Adds a soft shadow for depth */
    z-index: 1000; /* Ensure it's above everything */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#acceptButton{
    margin: 10px;
}

.notification-section {
    margin-bottom: 10px;
}

.notification {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.unread {
    background: #f0f8ff; /* Light blue for unread notifications */
    font-weight: bold;
}

.read {
    background: #f9f9f9; /* Light grey for seen notifications */
    color: grey;
}

.notification-section.scrollable {
    max-height: 250px;
    overflow-y: auto;
}

.notification-section button {
    margin-top: 3vh;
}

@media (max-width: 768px) {
    #notificationsContainer {
        max-width: 40px;
        max-height: 40px;
    }

    #notificationIcon {
        max-width: 30px;
        max-height: 30px;
    }
}