#newPostContainer{
    width: 100vw;
    margin-top: 2vh;
}

#newPostBtnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postPopUpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newPostBtn{
    border-radius: 100%;
    min-height: 60px !important;
    max-width: 60px !important;
    border: groove;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#newPostBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

