#profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    min-height: 100vh;
    overflow: scroll;
    padding: 0%;
}

#profileHeader{
    border-bottom: 2px solid black;
    height: 20vh;
    width: 95%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profileImg{
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

#profileImgContainer{
    min-height: 100px;
    min-width: 100px;
}

#friendsList{
   position: fixed; /* Keep it above all content */
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* Center it */
   background: rgba(255, 255, 255, 0.95); /* Light background with slight transparency */
   border-radius: 10px;
   padding: 20px;
   width: 500px;
   max-width: 90%;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Adds a soft shadow for depth */
   z-index: 1000; /* Ensure it's above everything */
   text-align: center; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

