#settingsPage {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    overflow: scroll;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

form input {
    margin-bottom: 2vh;
}

input {
    width: 35% ; 
}

#profilePictureSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profilePictureUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#profilePictureUpload * {
    margin-right: 2vw;
}

#logout {
    margin-top: 3vh;
    padding: 1rem;
}

#logout button {
    background: red;
}
  
@media (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }
}
  