body{
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#homeContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homePanelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 90%;
    margin-bottom: 20px;
    position: relative;
}
.homePanel{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    flex-direction: column;
    width: 49%;
    height: 98%;
    transition: background-position 0.5s ease-in-out, transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    position: relative;
    cursor: pointer;
    background: #e52e71;
    background-size: 200% 200%;
    transform-origin: center;

}
#leftPanel{
    border-radius: 10px;
    height: 90%;
    z-index: 1;
}
#rightPanel{
    border-radius: 10px;
    height: 90%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homePanel.activePanel{
    transform: scale (1.1) !important;
    z-index: 2 !important;
    height: 100% !important;
    width: 80%;
    background: #ff8a00;
    background-size: 200% 200%;
    background-position: bottom right;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3) !important;
}

#registerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.6),
                inset -3px -3px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: black;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {

    h1 {
        font-size: 1.5rem;
    }

    input {
        min-width: 90%;
        min-height: 3vh;
        margin: 0.5vh;
    }

    #homePanelContainer {
        flex-direction: column;
        height: 95%;
    }

    .homePanel {
        width: 90% !important;
        margin: 1vh;
        max-height: 10vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .homePanel form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homePanel:not(.activePanel) form > :not(h2) {
        display: none;
    }
  
    .homePanel.activePanel {
        min-height: 70% !important;
    }
  }

    

